#joinCallButton
{
    background: url('icon32.png') no-repeat;
    height: 32px;
    width: 32px;
    outline: none;
}
.top-container {
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 1rem;
}

#meetDetails {
    display: inline;
    width: 50%;

}

.left{
    float:left;
  }

  .bookmark-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
/* .clear{
    clear:both;
} */